<!-- templates/post_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post List</title>
</head>
<body>

  <h2>Post List</h2>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
          <td>
            <a href="{% url 'deletepost' post.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>
